.calendar-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

.fc {
    max-height: 100%
}

.fc-scroller {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.fc-scroller::-webkit-scrollbar {
    width: 8px;
}

.fc-scroller::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.fc-scroller::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.fc-scroller::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fc-timegrid-now-indicator-arrow {
    display: none !important;
}

.fc-timegrid-now-indicator-line {
    background-color: red !important;
    height: 2px !important;
    position: relative;
}

.fc-timegrid-now-indicator-line::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}

.event-with-stripe {
    position: relative;
    overflow: hidden;
}

.event-with-stripe::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 95%;
    background-color: var(--calendar-stripe-color, #039BE5);
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.event-with-stripe .custom-event {
    padding-left: 12px;
}


.fc-event-mirror {
    background-color: var(--main-calendar-color, #039BE5) !important;
    border-color: var(--main-calendar-color, #039BE5) !important;
    color: #ffffff !important;
}

